<!-- The same footer will be resused across all pages on the site -->

<footer>
    <h2>&copy; TATTOO TUMBLER</h2>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/products">View All</a></li>
            <!-- <li><a href="#">My Applications</a></li> -->
        </ul>
    </nav>
</footer>
