<!-- The navigation menu that will be reused across most pages -->
<header>
    <h1>Tattoo Tumbler</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/products">View All</a></li>
            <!-- <li><a href="#">My Applications</a></li> -->
        </ul>
    </nav>
</header>