/* Contains styles specific to the home page */

/* About section styles */
.about {
    /* background-color: #fff; */
    background-image: linear-gradient(to right, #6ac4a2, #f7f7f7);
    padding: 2rem;
}

.about h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.about p {
    margin-bottom: 1rem;
}

/* Featured tattoos section styles */
.featured-tattoos {
    /* background-color: #f7f7f7; */
    background-image: linear-gradient(to right, #6ac4a2, #f7f7f7);
    padding: 2rem;
}

.featured-tattoos h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.tattoo-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin-top: 2rem;
}

.tattoo-grid li {
    flex-basis: calc(33.33% - 1rem);
    margin-bottom: 2rem;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.tattoo-grid img {
    width: 100%;
    height: 65%;
    object-fit: cover;
}

.tattoo-grid h3 {
    font-size: 1.5rem;
    margin: 0.5rem 1rem;
}

.tattoo-grid p {
    margin: 0.5rem 1rem;
}